body {
  margin: 0px;
}
.nav {
  background-color: black;
  height: 80px;
}

.main {
  height: 969px;
  background-color: rgb(41, 65, 171);
}

.footer {
  height: 538px;
  background-color: black;
}

.top-bg {
  background-color: black;
}

.text-listening {
  font-size: 146px;
  line-height: 166px;
  color: #1ed760;
  font-weight: 900;
  position: relative;
  left: 225px;
  padding-bottom: 40px;
}

.text-million {
  color: #1ed760;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 40px;
  text-align: center;
}

.button-getspotify {
  border-radius: 30px;
  width: 120px;
  height: 40px;
  background-color: #1ed760;
  color: rgb(41, 65, 171);
  text-align: center;
}
.button-style:hover {
  transform: scale(1.07);
  background-color: #2de26d;
}
.span-text {
  color: white;
}
