.parent {
  display: flex;
  flex-direction: column;
}

.children {
  background-color: rgb(145, 132, 132);
  width: 100px;
  height: 100px;
  color: aliceblue;
}
.div2 {
  align-self: center;
}

.div3 {
  align-self: flex-end;
}
