.box {
  width: 100px;
  height: 100px;
}
.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.blue {
  background-color: blue;
}
.locate {
  position: absolute;
  left: 30px;
  top: 30px;
}

.parent {
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
}

.children {
  background-color: rgb(145, 132, 132);
  width: 100px;
  height: 100px;
  color: aliceblue;
}
.imo {
  display: flex;
}

.box2-style {
  margin-right: 5px;
}
