.parent {
  display: flex;
  justify-content: center;
}

.small-box {
  background-color: rgb(145, 132, 132);
  width: 100px;
  height: 100px;
  color: aliceblue;
  position: absolute;
}
.big-box {
  background-color: rgb(201, 96, 96);
  width: 200px;
  height: 200px;
  color: rgb(64, 65, 66);
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.box-position {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
